@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.8px;
  font-weight: 400;
  color: #333333;
}
